.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

node_modules
dist
coverage
build

.env
.env.*
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
.DS_Store
