NODE_ENV=development
PORT=8870
FRONTEND_PORT=5173

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=workflowbe
POSTGRES_HOST_PORT=5438

REDIS_HOST_PORT=6385

JWT_SECRET=dev-only-jwt-secret-please-rotate-in-prod-32chars
COOKIE_DOMAIN=localhost
FRONTEND_ORIGIN=http://localhost:5173
LOG_LEVEL=debug

MAILER_TRANSPORT=console
RESEND_API_KEY=fkjdkfjkdkfdkfkdfkkdfjkdjfdkfdkfj
MAILER_FROM=onboarding@resend.dev
MAILER_COMPANY_ADDRESS=Fiber@Home Ltd.
MAILER_SUPPORT_EMAIL=onboarding@resend.dev

CHOKIDAR_USEPOLLING=true
